<nav class="navbar navbar-expand-md bg-dark  navbar-dark">
    <span class="navbar-brand" >Login page </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> 
  </nav>
  <section>
<div class="container mx-auto mt-5 border" style="width: 300px;">
    <h3 class="">SIGN IN</h3><hr>
    <form (ngSubmit)="validateUser(user2.value, password2.value)" #form="ngForm"  >
        <div class="form-group">
            <label for="userName">User name: </label>
            <input type="text" class="form-control"  name="userName" [class.is-invalid]='user2.touched && user2.invalid' #user2='ngModel'  [(ngModel)]="user.userName" required>
            <div *ngIf='user2.touched && user2.invalid'>
              <small *ngIf='user2.errors.required' class="text-danger">User name is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" [class.is-invalid]='password2.touched && password2.invalid' #password2='ngModel' [(ngModel)]="user.password" required>
            <div *ngIf='password2.touched && password2.invalid'>
              <small *ngIf='password2.errors.required' class="text-danger">Password is required</small>
            </div>
           
        </div>
        <span id="passwordErrorMsg" style="display: block;" class="text-danger"></span><br>
        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid" >Submit</button>
    </form>
</div>
  </section>